//Widget header

.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}
.widget__message{
    color:$off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1px solid;
    border-bottom-color: lighten($light-blue, 10%)
}
//create a wigete elemente selector(message) - use it on p tag
// off-white color
// no margin
// l-size padding on all sides
// center the text using -textÇaling: center
// set the bottom border to a 1px solid border lighted version of light-blue 10%
.widget-header{
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin: 0;
}


//setu an element selector for widget-header
//set margin
// use the class